html, body {
  margin: 0;
  padding: 0;
}

h1 {
  color: DarkSeaGreen;
  font-family: Broadway;
  font-size: 50px; 
  text-align: center;
}

h3 {
 font-family: Broadway;
 font-size: 20px;
 text-align: center;
  font-weight: 50;
}

h2 {
  color: DarkSeaGreen;
  font-family: Broadway;
  font-size: 30px;
  text-align: center;
  font-weight: 100;
}

p {
  font-family: Georgia;
  text-align: center;
}

ul {
  font-family: Georgia;
  text-align: center;
}

li {
  color: DarkSeaGreen;
  font-family: Broadway;
  font-size: 30px;
  text-align: center;
}

a {
  text-align: center;
  font-weight: 20;
  font-size: 13px;
  color: black;
}

.image {
  background-image:
    url("https://us.123rf.com/450wm/orpheus26/orpheus261508/orpheus26150800062/44332271-tokyo-japan--february-17-2015-senso-ji-is-an-ancient-buddhist-temple-located-in-asakusa-tokyo-japan-.jpg?ver=6");
  height: 100px;
  width: 50%
  background-position: center; 
}
 
  



