 html, body {
  margin: 0;
  padding: 10px 5% 10px 5%;
}

h1 {
  color: DarkSeaGreen;
  font-family: Broadway;
  font-size: 50px; 
  text-align: center;
}

h3 {
 font-family: Broadway;
 font-size: 20px;
 text-align: center;
  font-weight: 50;
}

h2 {
  color: DarkSeaGreen;
  font-family: Broadway;
  font-size: 30px;
  text-align: center;
  font-weight: 100;
}

p {
  font-family: Georgia;
  text-align: center;
}

ul {
  font-family: Georgia;
  text-align: center;
}

li {                                                     
  color: DarkSeaGreen;
  font-family: Broadway;
  font-size: 30px;
  text-align: center;
}

a {
  text-align: center;
  font-weight: 20;
  font-size: 13px;
  color: black;
}
#{                   
  float: center; 
  width: 200;
  height: 150;
  width:500px;
  margin: auto;
}
#{
  float: right;
  width: 200;
  height: 150;
  width: 1000px;
  margin: auto;
}
# {                 
  float: right;
  width: 200;
  height: 150;
  width: 900px;
  margin: auto;
}
# {             
  float: right;
  width: 200;
  height: 150;
  width: 1000px;
  margin: auto;
}
body {
 background-color: green;
}
