
header {
  padding: 20px 0;
}

header .row {
  display: flex;
  align-items: center;
}

header h1 { 
  font-weight: 700;
  margin: 0;
  font-family: Impact;
  color: #FFEB3B
    
}
header nav {
  display: flex;
  justify-content: flex-end;
  
}

header p {
  padding: 0 20px;
  margin: 0;
}

h2 {
  font-family: sans-serif; 
  color: #fffefe
}

p {
  font-family: sans-serif;
  font-size: larger;
  font-weight: bold;
  color: #324148

}

body {
  background-color: #8bc2ca
}
footer {
  
}
